---
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Content from "../components/Content.astro";
import FormattedDate from "../components/FormattedDate.astro";
import TableOfContents from "../components/TableOfContents.astro";
import Comment from "../components/Comment.astro";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import CodeCopyScript from "../components/CodeCopyScript.astro";
import "/node_modules/katex/dist/katex.min.css";

import "../styles/BlogPost.css"

const post = Astro.props;
const { headings } = await post.render();
const { title, description, pubDate, updatedDate, heroImage = '' } = Astro.props["data"];
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} image={heroImage} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <CodeCopyScript />
    </head>
    <GoogleAnalytics id="G-5PX5VJYPVK"/>

    <Body>
        <Header />
        <main class="pt-[80px]">
            <Content>
                <div class="container">
                    <div>
                        {
                            heroImage ? (
                                <div class="hero-image">
                                    <img src={heroImage} />
                                </div>
                            ) : ("")
                        }
                        <div class="prose">
                            <div class="title">
                                <div class="date">
                                    <FormattedDate date={pubDate} />
                                    {
                                        updatedDate && (
                                            <div class="last-updated-on">
                                                Last updated on{" "}
                                                <FormattedDate date={updatedDate} />
                                            </div>
                                        )
                                    }
                                </div>
                                <h1>{title}</h1>
                                <hr />
                            </div>
                            <slot />
                            <Comment />
                        </div>
                    </div>
                    <TableOfContents headings={headings} title={title} />
                </div>
            </Content>
        </main>
        <Footer />
    </Body>
</html>
